:root {
  --main-bg-color: brown; /* templatize-css: track */
}

.btn {
  background-color: var(--main-bg-color);
  border: 0;
  padding: 10px 40px;
}

.btn-link {
  color: #000;
  padding: 10px 40px;
}
